.gitconfig
.node_repl_history
.python_history
.viminfo
.aftman/
.android/
.cache/
.ccp/
.config/
.dotnet/
.e4mc_cache/
.ftb/
.idlerc/
.javacpp/
.skiko/
.ssh/
.th-client/
.thumbnails/
.VirtualBox/
.vscode/
.vscode-oss/
